.root {
    -fx-background-color: linear-gradient(to bottom, #ffffff, #d2d2d2);
    -fx-border-color: #cccccc;
    -fx-border-width: 1;
    -fx-padding: 15;
}

.label {
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.text-field {
    -fx-font-size: 13;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #cccccc;
    -fx-padding: 5;
}

.button {
    -fx-background-color: linear-gradient(to bottom, #6fa3ef, #0e69d0);
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-background-radius: 5;
    -fx-padding: 5;
    -fx-pref-width: 75px;
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom, #8fbce8, #2a89dc);
}